*{
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.fullScreen {
  background: url('./img/bacground.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
}

.popular{
overflow: auto;
 margin: 20px 20px 20px 20px;
 width: 900px;
 display: flex;
 position: absolute;
 bottom: 138px;
 left: 188px;

}
.popular::-webkit-scrollbar {
  display: none;
}
.popular img {
  width: 60px;
  height: 120px;
  margin-right: 5px;
}
.screen {
  position: absolute;
  position: absolute;
  top: 9px;
  left: 193px;
  z-index: 10000;
}
iframe{
  width: 922px;
  /* height: 520px; */
  height: 380px;
}
/* align-items: center;
justify-content: center; */

body{
  text-align: center;
}
.search {
    position: absolute;
    left: 229px;
    top: 602px;
}
  .search-reasult{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  }

  .mov_list{
  display: block;
  width: 300px;
  text-align: center;
  background-color: #efefef;;
  margin-top: 20px;
  margin-right: 20px;

  }
  .mov_list h4,p{
    font-weight: 600;
    padding: 5px;
    font-size: 20px;
  }

  
  .mov_list img{
  width: 300px;
  height: 300px;
  }

  input{
    width: 549px;
    height: 25px;
    border-radius: 8px;
    padding: 4px;
    border: 0px;
  }
  .search-button{
    width: 300px;
    height: 37px;
    border-radius: 8px;
    padding: 4px;
    border: 0px;
  }
.on-off{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    padding: 4px;
}
  .search-button:hover{
  animation: colouful 3s ease;
  }
  @keyframes colouful{
  15%{background: #e6e2e1;

  }}
